/* view-supplier.scss */

.view-inventory-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
    .container {
      display: flex;
      margin-top:50px;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      padding: 50px;
      border-radius: 20px;
      border: 2px solid #007bff; 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
      margin-left: auto;
      margin-right: auto;
      width: 950px;
      background-color: rgb(217, 217, 217);
  
      .view-item-back-btn {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 10px;
        width: 100px;
      }

      .view-item-back-btn:hover {
        background-color: #F4780E; 
        color: #fff; 
      }
  
      .field-names-supplier {
        display: flex;
        flex-direction: column;
        gap: 10px;
  
        .data-fields-supplier {
          font-weight: bold;
          margin-bottom: 5px;
          margin-top: 20px;
          color:#007bff
        }
  
        .data-fields-supplier-values {
          margin-left: 10px;
          font-weight: 500;
          margin-top: 20px;
        }
      }
    }
  }
  